.flex{ display:flex; }
.space-between{ justify-content: space-between; }

.formbtn{
	border:0px;
	width:240px;
	height:40px;
	font-weight:bold;
	color:#3faddd;
	background:#fff;
	cursor:pointer;
	
}

.formElement{
	padding-bottom:20px;
}

.formElement .inputtext, .formElement select{
	width:450px;
	height:35px;
	padding-left: 20px;
	box-sizing: border-box;
}


.formElement label{
	display:block;
	padding-bottom:5px;
	color:#fff;
}


.formElement .checkbox{
	display:flex;
	align-items: center;
}

.formElement .checkbox label{
	padding-bottom:0px;
}

.formElement .checkbox input{
	width:30px;
	height:30px;
}

.formElement h4{
	color:white;
	text-decoration: underline;
}